src/*.exe
src/devcoin
src/devcoind
src/test_devcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.devcoin

# Ignore autotools artifacts
#
/src/configure
/src/Makefile
/src/Makefile.in
/src/src/Makefile
/src/src/Makefile.in
/src/src/test/Makefile
/src/src/test/Makefile.in
/src/src/qt/Makefile
/src/src/qt/Makefile.in
/src/src/qt/test/Makefile
/src/src/qt/test/Makefile.in


# Compilation and Qt preprocessor part
*.qm
bitcoin-qt
Bitcoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
!src/curl*/Makefile
!src/leveldb-*/Makefile
